.hero-nav-overlay {

    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    padding: 0;

    .navbar-toggler {
        background: white;
        outline: none;

        .fa-bars {
            color: $body-color;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 158px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0;
    }

    .navbar-nav a.nav-link {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }

    @include media-breakpoint-up(xl) {
        .navbar-nav .menu-item.show > .nav-link {
            background: $white;
            color: $body-color;
        }

        .navbar-nav a.nav-link {
            padding: $spacer*.8 $spacer*1.5;
            padding-left: 0;
            color: $body-color;
        }

        .navbar-nav .nav-item {
            &:last-of-type {
                a.nav-link {
                    color: white ;
                    background-color: $blue;
                    padding: $spacer*.8 $spacer*1.2;
                    letter-spacing: 1px;
                }
            }
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: $white;
            width: 100%;

            & > .menu-item > .nav-link {
                padding-left: $spacer;
                padding-right: $spacer;
                font-family: $font-family-sans-serif;
                color: $gray-700;
                font-size: 90%;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0;

        .dropdown-menu {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0 0 0 1.5rem;
        }
    }
}