
.gform_wrapper {
    @extend .container;
    padding-left: 0;
    padding-right: 0;
    padding-top: $spacer/2;
    padding-bottom: $spacer/2;
    @include media-breakpoint-up(lg) {
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
}

// form description styling

body .gform_wrapper .gform_body .gform_fields .gfield .gfield_description {
    font-style: italic;
    font-size: .7rem;
    color: lighten($primary, 25%);
    padding-top: 8px;
}

// section break styling

body .gform_wrapper .gform_body .gform_fields .gsection {
    border: none;
    border-top: 1px solid lighten($primary, 45%);
    margin-top: $spacer*1.5;
    padding-top: $spacer*.5;

    &:first-of-type {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
}


// over ride section titles

li.gsection + li {
    margin-top: 0 !important;
}

li.gsection {
    margin-bottom: $spacer*.25 !important;
}

.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
    color: lighten($dark, 7%);
}

// single text field

body .gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
    border: 1px solid $form-dark;
    color: $body-color;
    padding-left: 10px !important;
    outline-color: $primary;
}

// dropdown style + remove default arrow

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid $form-dark;
    padding-left: 10px;
    color: $body-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// add dropdown custom arrow + positioning

.ginput_container.ginput_container_select {
    position: relative;

    &:after {
        content: '▾';
        position: absolute;
        top: 2px;
        bottom: 0;
        right: 10px;
        z-index: 9999;
    }
}

// textarea styling

body .gform_wrapper .gform_body .gform_fields .gfield textarea {
    border: 1px solid $form-dark;
    background-color: white;
    color: $body-color;
    padding-left: 10px !important;

    &:focus-visible {
        outline-color: $primary;
    }

}


label {
    font-family: $font-family-sans-serif;
    margin-bottom: 0;
    font-size: .5rem;
    color: $dark;
    font-family: $headings-font-family;
}

.custom-select, .custom-text {
    border-radius: 0px;
    border-color: $primary;
}

// search

.topsearchbox {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.vertical-searchform-wrapper {
    background-color: $primary;
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        padding: 1rem 2rem;
        margin-bottom: 0;
    }

    .num-increment-wrap {
        margin-left: .5rem;
    }

    label {
        cursor: pointer;
    }

    > div {
        margin: .5rem .25rem;

        @include media-breakpoint-up(lg) {
            margin: 0 .5rem;
        }
    }

    label {
        padding-right: .25rem;
    }
}

.gform_button {
    @extend .btn;
    color: white;
    background-color: $primary;

    &:hover,
    &:active {
        background-color: darken($primary, 10%);
        color: white;
    }
}

// text-area border
body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel],
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
    border: 1px solid $form-dark;
    background-color: white;
}

// thank you message

div#gform_confirmation_message_1 {
    color: $primary;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 12px;
}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {
    text-align: center;
    padding: 10px 0 10px 0;
}

.mc-field-group {
    display: inline-block;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup .clear {
    display: inline-block;
}

/* positions button horizontally in line with input */

#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
    background-color: #777;
    cursor: pointer;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}

#mc_embed_signup #mce-error-response {
    display: none;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
}

#mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {
        width: 100%;
        margin-bottom: 5px;
    }
    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }
    #mc_embed_signup .button {
        width: 100%;
        margin: 0;
    }
}


#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}


//captcha mobile fix

@media (max-width: 361.98px) {
    #gform_wrapper_1 div.ginput_recaptcha {
        -ms-transform: scale(.8);
        transform: scale(.8);
        -webkit-transform: scale(.8);
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0
    }
}

#validation_message_1_9 {
    margin-top: 10px;
}

// error message

.gform_wrapper .gfield_error .gfield_repeater_cell label,
.gform_wrapper .gfield_error label,
.gform_wrapper [aria-invalid=true] + label,
.gform_wrapper label + [aria-invalid=true] {
    color: $primary;
}

body .gform_wrapper .gform_body .gform_fields .gfield_error {
    background-color: transparent;
    border-color: transparent;
}

body .gform_wrapper .gform_body .gform_fields .gfield_error .validation_message {
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: $secondary;
    border: 1px solid $secondary;
    padding: $spacer/5;
}

body .gform_wrapper .gform_validation_errors {
    background-color: $secondary;
    border-width: 10px;
    border-color: $secondary;
    padding: $spacer/2;

    h2 {
        color: white;

        &:after {
            display: none;
        }
    }

    .gform-icon--close:before {
        display: none;
    }

}

body {
    .gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 4px;
    }

}


body {
    .gform_legacy_markup_wrapper div.gfield_description.validation_error {
        color: $secondary;
    }

    .gform_legacy_markup_wrapper .validation_message {
        color: $secondary;
    }

    .gform_legacy_markup_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_legacy_markup_wrapper li.gfield_error textarea {
        border: 1px solid $secondary;
    }

    .gform_legacy_markup_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_legacy_markup_wrapper li.gfield_error ul.gfield_checkbox, .gform_legacy_markup_wrapper li.gfield_error ul.gfield_radio {
        color: $secondary;
    }

    .gform_validation_errors > ol a {
        color: $secondary;
    }

    .gform_legacy_markup_wrapper div.validation_error {
        color: $secondary;
        border-top: 2px solid $secondary;
        border-bottom: 2px solid $secondary;
    }

    .gform_legacy_markup_wrapper ol.validation_list li {
        list-style-type: decimal !important
    }

    .gform_legacy_markup_wrapper div.charleft {
        margin-bottom: 6px;
    }
}

body .gform_legacy_markup_wrapper ul li.gfield {
    margin-top: 0 !important;
}

// applicant form styling

body {
    .gform_wrapper .gfield_required .gfield_required_custom, .gform_wrapper .gfield_required .gfield_required_text {
        font-style: normal;
    }
    .gform_wrapper .gform_body .gform_fields .gfield select {
        background-color: white;
        outline-color: $primary;
    }
    .gchoice {
        display: flex;

    }
    .gfield-choice-input {
        margin-top: 3px !important;
        margin-right: 6px;
    }
    .gform_wrapper.gravity-theme .gfield_list_icons button {
        margin-bottom: 0;
    }
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex .ginput_left label {
    color: $body-color;
    padding-left: 4px;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_label {
    color: $body-color;
    padding-left: 4px;
    display: flex;
    align-items: center;
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex .ginput_right label {
    color: $body-color;
    padding-left: 4px;
}
body .gform_wrapper .gform_body .gform_fields .gfield .ginput_complex .ginput_full label {
    color: $body-color;
    padding-left: 4px;
}
body .gform_wrapper .gform_body .gform_fields span label {
    color: $body-color;
    padding-left: 4px;
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_description {
    color: $body-color;
    font-style: normal;
    line-height: 1.4;
    padding-top: 0;
    padding-left: 6px;
    padding-bottom: 0;
    margin-left: 2px;
    margin-bottom: $spacer;
    border-left: 2px solid #ccc;
}

body .ginput_container_consent {
    label {
        font-size: .8rem;
        font-weight: bold;
        margin-top: 0;
    }
}
body .gform_wrapper .gform_body .gform_fields .gfield .gfield_label {
    color: $body-color;
}

#gfield_consent_description_3_37,
#field_3_37 {
    border: none;
    overflow: visible;
    display: block;
    max-height: none;
}

body .gfield_list_groups {
    margin-bottom: $spacer/2;
}
body .gfield_radio {
    display: flex;
    .gchoice {
        margin-right: 10px;
    }
}

body {
    .gform_wrapper.gravity-theme {
        h3 {
            margin-top: .75rem;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            text-transform: uppercase;
        }
        h4 {
            margin-top: .75rem;
            margin-bottom: 0.5rem;
            font-size: .8rem;
            text-transform: uppercase;
        }
        h3, h4 {
            max-width: none !important;
        }
        .gf-radio-buttons {
            margin-bottom: .4rem !important;
        }
        .gf-checklist {
            .gfield_checkbox {
                width: 100%;
                display: flex;
                .gfield-choice-input {
                    margin-top: 2.5px !important;
                }
                .gfield-choice-input+label {
                    max-width: none;
                    margin-right: 10px;
                }
            }
        }
        .gf-consent {
            .ginput_container_consent {
                display: flex;
                input[type="checkbox"] {
                    margin-top: 3.5px !important;
                    margin-right: 6px !important;
                }
                .gfield_consent_label {
                    font-weight: normal !important;
                }
            }
        }
    }
}

